{% extends "core/base.html" %}

{% block title %}Items{% endblock title %}

{% block content %}
    <div class="pb-6 grid grid-cols-4 gap-6 bg-gray-50">
        <div class="col-span-1 p-4 bg-white shadow-md rounded-lg">
            <form method="get" action="{% url 'item:items' %}">
                <input name="query" class="w-full py-3 px-5 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-gradient-to-r focus:ring-cyan-500 focus:ring-offset-2 transition-transform transform hover:scale-105" type="text" value="{{ query }}" placeholder="Find a bike, a chair, or car...">

                <button class="mt-4 py-3 px-6 text-lg bg-gradient-to-r from-cyan-500 to-teal-500 hover:from-cyan-600 hover:to-teal-600 text-white rounded-lg transition-all duration-300">Search</button>
            </form>

            <hr class="my-6 border-gray-200">

            <p class="font-semibold text-gray-900 mb-4 text-lg">Categories</p>

            <ul>
                {% for category in categories %}
                    <li class="py-2 px-3 rounded-lg {% if category.id == category_id %} bg-teal-50 {% else %} hover:bg-teal-100 {% endif %}">
                        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}" class="text-gray-800 hover:text-teal-700 transition-colors text-lg">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr class="my-6 border-gray-200">

            <p class="font-semibold text-gray-900 mb-4 text-lg">Clear filters</p>
            <ul>
                <li><a href="{% url 'item:items' %}" class="mt-2 py-3 px-6 inline-block bg-gradient-to-r from-orange-500 to-red-500 hover:from-orange-600 hover:to-red-600 text-lg rounded-lg text-white transition-all duration-300">Clear</a></li>
            </ul>
        </div>

        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-6">
                {% for item in items %}
                    <div class="border border-gray-300 rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 hover:shadow-xl">
                        <a href="{% url 'item:detail' item.id %}">
                            <div class="relative">
                                <img src="{{ item.image.url }}" class="w-full h-56 object-cover rounded-t-lg transition-transform duration-300 transform hover:scale-105">
                            </div>

                            <div class="p-4 bg-white">
                                <h2 class="text-xl font-bold text-gray-800 mb-2">{{ item.name }}</h2>
                                <p class="text-gray-700 text-lg">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
